/* Write your CSS here */
.list-item2 {
  background-color: #ffffff;
  border-radius: 6px;
  margin: 10px;
  list-style-type: none;
  padding: 8px;
  width: 120px;
  height: 130px;
}
.app-img {
  height: 70px;
  width: 70px;
}
.name {
  font-family: Bree Serif;
  font-size: 13px;
  font-weight: 600;
}
